<footer>
    <div class="container">
        <div class="row">

        <div class="col-md-4">
            <h5>Lyon</h5>
            <address>101 cours Charlemagne
                <br>
                CS 20033
                <br>
                69269 LYON CEDEX 02
                <br>
                France
            </address>
            <p>
                Ouvert du lundi au vendredi de 8h15 à 17h
                <br>
                +33 (0)4 26 73 40 00
                <br>
                Accueil téléphonique du lundi eu vendredi de 8h30 à 17h
            </p>
        </div>

        <div class="col-md-4">
            <h5>Navigation</h5>
            <ul class="list-unstyled">
                <li><a href="#" class="text-light">Mentions légales</a></li>
                <li><a href="#" class="text-light">Données personnelles</a></li>
                
                    <ul>
                        <li><a href="#" class="text-light">Accessibilité : partiellement conforme</a></li>
                        <li><a href="#" class="text-light"> Politique des cookies</a></li>
                        <li><a href="#" class="text-light"> Gestion des cookies</a></li>
                    </ul>
                <li><a href="#" class="text-light">Presse</a></li>
                <li><a href="#" class="text-light">Marchés publics</a></li>
                <li><a href="#" class="text-light">Venir à la Région</a></li>
                <li><a href="#" class="text-light">Contacts</a></li>
            </ul>
        </div>
    </div>
</footer>