<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="/index.html">
                <img src="/artisan-front/asset/img/Logo.png" alt="Logo de la région">
            </a>

            <!-- bouton burger -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

             <!-- menu dynamique via les catégories-->
            <div class="collapse navbar-collapse" id="menuNavbar">
                <ul id="menu-categories" class="navbar-nav ms-auto">
                </ul>
            </div>
        </div>
    </nav>
</header>