<section class="bg-light py-5">

    <div class="container text-center">

        <h1 class="mb-4">Trouver un artisan près de chez vous</h1>

        <form action="/pages/artisans.html" method="GET">

            <div class="row justify-content-center">

                <div class="col-md-4">

                    <input
                    type="text"
                    name="ville"
                    class="form-control"
                    placeholder="Ville">

                </div>

                <div class="col-md-4">

                    <input
                    type="text"
                    name="nom"
                    class="form-control"
                    placeholder="Nom artisan">

                </div>

                <div class="col-md-2">

                    <button class="btn btn-primary w-100">
                    <i class="bi bi-search feature-icon"></i> Rechercher
                    </button>

                </div>

            </div>

        </form>

    </div>

</section>